html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}


#header_div {
    height: 125px;
    position: relative;
    align-items: center;
    z-index: 100;
}

#title_div {
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #1564a6;
    z-index: 130;
}

#watermark_div {
    height: 40px;
    width: 156px;
    position: relative;
    overflow: hidden;
}

#watermark_image {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: contain;
}

#title_text {
    height: 20px;
    width: 174px;
    position: relative;
    margin: 10px 0 10px 10px;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}


#building_nav_div {
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(36, 36, 36, 1);
    z-index: 120;
}


#cluster_nav_div {
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 110;
}

.button1 {
    height: 30px;
    width: 120px;
    /*margin: 0 10px 0 10px;*/
    margin: 0;
    border: none;
    /*background-color: #1564a6;*/
    background-color: rgba(36, 36, 36, 1);
    color: #ffffff;
    font-size: 16px;
}

.button1:hover {
    background-color: #ffffff;
    color: #1564a6;
}

.button2 {
    height: 30px;
    width: 100px;
    margin: 0 10px 0 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(36,36,36,0.7);
    color: #00d2e8;
    font-size: 12px;
    font-weight: bold;
}

.button2:hover {
    background-color: #00afc5;
    color: #ffffff;
}

.button:hover {
    cursor: pointer;
    background-color: #ffd200;
}

#cove1_button {
    font-weight: bold;
}

#cove2_button {
    font-weight: bold;
}


#content_div {
    min-width: 1100px;
    display: block;
    overflow-y: scroll;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}


#footer_div {
    height: 16px;
    padding-top: 8px;
    background-color: rgba(36,36,36,0.7);
    color: #00d2e8;
    font-family: Helvetica;
    font-size: 10px;
    text-align: center;
}